{% extends "base.html" %}

{% block title %} Audit Log: Database {% endblock %}

{% block content %}
<head>
    <title>Audit Log: Database</title>
</head>

<body>
    <center>
        <table>
            <thead>
                <th><center>Timestamp</center></th>
                <th><center>Serial Number</center></th>
                <th><center>Reader Name</center></th>
                <th><center>User ID</center></th>
                <th><center>Decision</center></th>
                <th><center>Reason</center></th>
            </thead>
            <tbody>
                {% for log in audit_log %}
                    <td style="text-align: center;">{{log[0]}}</td>
                    <td style="text-align: center;">{{log[1]}}</td>
                    <td style="text-align: center;">{{log[2]}}</td>
                    <td style="text-align: center;">{{log[3]}}</td>
                    <td style="text-align: center;">{% if log[4] == 1 %}&#9989;{% else %}&#10060;{% endif %}</td>
                    <td style="text-align: center;">{{log[5]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>
</body>
{% endblock %}