{% extends "base.html" %}

{% block title %} Reset Password {% endblock %}

{% block content %}

<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class="flash-notif">{{msg}}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <p>Confirm to remove the following user?</p>
    <table style="display: inline-table;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Roles</th>
            </tr>
            <tr>
                <td>{{user_to_delete[0]}}</td>
                <td>{{user_to_delete[1]}}</td>
                <td>{{user_to_delete[2]}}</td>
                <td>{{user_to_delete[3]}}</td>
                <td>{{user_to_delete[4]}}</td>
                <td>{% for role in user_to_delete[6].split(";") %}<div><code>{{role}}</code></div>{% endfor %}</td>
            </tr>
        </thead>
    </table>
    <div class="form-inline">
        <form action="#" method="post" style="text-align: center">
            <input style="display: none;" type="text" name="remove_user" value="1">
            <button style="margin-right: 0.5em;" class="btn btn-danger" type="submit">Remove</button>
        </form>
        <form action="#" method="post" style="text-align: center">
            <input style="display: none;" type="text" name="remove_user" value="0">
            <button class="btn btn-secondary" type="submit">Cancel</button>
        </form>
    </div>
</body>
{% endblock %}
