{% extends "base.html" %}

{% block title %} Reset Password {% endblock %}

{% block content %}

<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class="flash-notif">{{msg}}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <p>Confirm to reset password?</p>
    <div class="form-inline">
        <form action="#" method="post" style="text-align: center">
            <input style="display: none;" type="text" name="reset" value="1">
            <button style="margin-right: 0.5em;" class="btn btn-danger" type="submit">Reset Password</button>
        </form>
        <form action="#" method="post" style="text-align: center">
            <input style="display: none;" type="text" name="reset" value="0">
            <button class="btn btn-secondary" type="submit">Cancel</button>
        </form>
    </div>
</body>
{% endblock %}
