{% extends "base.html" %}

{% block title %} Admin - Database View {% endblock %}

{% block content %}
<head>
    <title>Admin - Database View</title>
    <link rel="shortcut icon" type="image/png" href="static\pictures\SUS-Logo-Fav4.png">
</head>

<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class="flash-notif">{{msg}}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <a style="float: left;" href="add-user"><button class="btn btn-primary" name="add_user" type="submit">Add User</button></a>
    <form action="#" method="post">
        <p style="text-align: right;"><input style="width: 25%;" type="text" name="search" placeholder="Search" value="{{search_text if search_text}}"></p>
    </form>
    <table style="width: 100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Active Status</th>
                <th>IP Addresses</th>
        </thead>
        <tbody>
        {% for item in values %}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.user}}</td>
                <td>{{item.email}}</td>
                <td>{{item.first_name}}</td>
                <td>{{item.last_name}}</td>
                <td>{% for role in item.roles.split(";") %}<div><code>{{role}}</code></div>{% endfor %}</td>
                <td>{{item.password}}</td>
                <td>{{item.active}}</td>
                <td>{% for ip in item.ip.split(";") %}<code>{{ip}}</code><br/>{% endfor %}</td>
                <td style="text-align: center;">
                    <form method="post" action="#">
                        <input style="display: none;" type="text" name="edit_user" value={{item.id}}>
                        <button class="btn btn-secondary" type="submit">Edit</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}